.container {
    background: yellow;
    padding: 10px;
    margin-bottom: 20px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);

    grid-auto-rows: 200px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.item-01 {
    background-color: red ;
}

.item-02 {
    background-color: blue;
}

.item-03 {
    background-color: green;
}

.item-04 {
    background-color: grey;
}

.item-05 {
    background-color: violet;
}

.item-06 {
    background-color: orange;
}

.item-07 {
    background-color: lightblue;
}

.item-08 {
    background-color: lightcoral;
}